@model IEnumerable<SORAPC.Models.Product>
@{
    ViewData["Title"] = "Каталог товаров";
}

<link rel="stylesheet" href="~/css/catalog.css" />

<div class="product-container">
    @foreach (var i in Model)
    {
        <div class="product-card" data-category="@i.ProductCategoryId" data-price="@i.Price">
            <a asp-action="Details" asp-controller="ProductDetails" asp-route-id="@i.IdProduct">
                <img src="@Url.Content("~/image/" + i.Img)" alt="@i.Names" class="product-image">
            </a>
            <div class="product-details">
                <a asp-action="Details" asp-controller="ProductDetails" asp-route-id="@i.IdProduct">
                    <h4 class="product-name">@i.Names</h4>
                </a>
                <div class="product-rating">
                    <div>
                        @{
                            var averageRating = await Component.InvokeAsync("AverageRating", new { productId = i.IdProduct });
                        }
                        <div style="display: flex; align-items: center; gap: 10px; font-size: 16px;">
                            <span style="display: flex; align-items: center;">@averageRating</span>
                            <span style="margin-bottom: 5px;">| @i.Reviews.Count() отзыв(ов)</span>
                        </div>
                    </div>
                </div>
                <div class="product-availability">
                    <span class="available">
                        @{
                            string status = i.ProductStatusId == 1 ? "В наличии" :
                            i.ProductStatusId == 2 ? "Нет в наличии" :
                            "Неизвестно";
                            @status
                        }
                    </span>
                    <span class="pickup">Пункты выдачи доступны</span>
                </div>
            </div>
            <div class="price-section">
                <p class="price">@i.Price.ToString("N0") ₽</p>
                <button class="buy-button">Купить</button>
            </div>
        </div>
    }
</div>