@model SORAPC.Models.Product

<style>
    .review-card {
        border: 1px solid #ddd;
        border-radius: 8px;
        padding: 15px;
        margin-bottom: 15px;
        background-color: #fff;
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
        width: 900px;
    }

    .review-header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 10px;
    }

    .review-user {
        font-weight: bold;
        color: #333;
        font-size: 20px;
    }

    .review-rating {
        color: #ffc107;
        font-size: 20px;
    }

    .review-text {
        font-size: 20px;
        color: #555;
        line-height: 1.5;
        margin-bottom: 10px;
    }

    .review-date {
        font-size: 20px;
        color: #777;
        text-align: right;
    }

    .review-title {
        font-weight: bold;
        color: #222;
        margin-top: 5px;
    }
</style>

<div class="reviews-section">
    <h2>Все отзывы @Model.Reviews.Count()</h2>
    @if (Model.Reviews.Any())
    {
        foreach (var review in Model.Reviews)
        {
            <div class="review-card">
                <div class="review-header">
                    <div class="review-user">
                        <span>@review.Users.Logins</span>
                    </div>
                    <div class="review-date">
                        <span>@review.CreatedAt?.ToString("dd.MM.yyyy")</span>
                    </div>
                </div>
                <div class="review-rating">
                    @for (int i = 0; i < review.Rating; i++)
                    {
                        <span class="star">⭐️</span>
                    }
                </div>
                <div class="review-text">
                    <p class="review-title">Достоинства:</p>
                    <p>@review.Pros</p>

                    <p class="review-title">Недостатки:</p>
                    <p>@review.Cons</p>

                    <p class="review-title">Комментарий:</p>
                    <p>@review.Comment</p>
                </div>
            </div>
        }
    }
    else
    {
        <p>Пока нет отзывов. Будьте первым!</p>
    }
</div>